<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Nursery Details</title> 
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head> 
<body>
  <div class="container">
    <dl>
      <dt>区</dt><dd><%= nursery_block %></dd>
      <dt>施設名</dt><dd><%= nursery_name %></dd>
      <dt>基準を満たす旨の証明書</dt><dd><%= nursery_tax %></dd>
      <dt>営業時間</dt><dd><%= nursery_start_time %> - <%= nursery_end_time %></dd>
      <dt>定員</dt><dd><%= nursery_capacity %></dd>
      <dt>最寄り駅</dt><dd><%= nursery_station %></dd>
      <dt>事業開始年月日</dt><dd><%= nursery_start_date %></dd>
      <dt>設置者名</dt><dd><%= nursery_company %></dd>
      <dt>電話番号</dt><dd>03-<%= nursery_phone_num %></dd>
      <dt>etc</dt><dd><%= nursery_note %></dd>
    </dl>
  </div>
</body>
</html>
